
h2 {margin-top: 0px}
.pycon {
    background: linear-gradient(135deg ,#3b709c 40%, #fad149 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
s { color: red; }

[href*="developer.mozilla"]:before {
    background: url(https://developer.mozilla.org/static/img/favicon32.7f3da72dcea1.png) no-repeat 0;
    padding-left: 20px;
}
[href*="itvdn"] {
    background: url(../icons/itvdn.svg) no-repeat 0;
    padding-left: 20px;
}
main [href*="github"] {
    background: url(../icons/github.svg) no-repeat 0;
    padding-left: 20px;
}
[href*="frontendconf.ru"] {
    background: url(https://frontendconf.ru/i/frontendconf/2019/favicon.ico) no-repeat 0;
    padding-left: 20px;
}
[href*="habr.com"] {
    background: url(../icons/habr.png) no-repeat 0;
    padding-left: 20px;
}