@import url('header.css');

body * {
	box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #bfbfbf #0000;
    margin: 0;
}

body *::-webkit-scrollbar {
    width: .5vw;
    min-width: 7px;
    height: .5vh;
    min-height: 7px;
}
body *::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 5px;
}
body *::-webkit-scrollbar-corner { display: none; }

body {
    color: #D8D7D4;
	padding: 0;
	margin: 0;
    font-family: -apple-system, RobotoLight, sans-serif;
    font-size: 16px;
    background-color: #37393B;
    -moz-osx-font-smoothing: grayscale;
}

#links {
    height: min-content;
}

main {
    min-height: 76vh;
    display: block;
    padding: 0 1%;
    transition: .5s;
}

a {
    display: inline-flex;
    align-items: center;
    min-width: 48px;
    color: #D8D7D4;
    text-decoration: none;
    cursor: pointer;
    background-position-y: center;
}
a:hover {
    filter: drop-shadow(0 2px 2px black);
}

.img32 img, #headerMenu img, #links img { height: 32px }

#links.img16 img, summary img, ul img, .img16 img { height: 16px }

a>img {margin-right: 3px}

img { max-width: 98vw; }

li { list-style-type: none; }

summary {
    font-weight: 700;
    font-family: monospace;
    padding: 10px;
    list-style: none;
}
summary:hover { background: rgba(0,0,0,.2); }

summary+* {
    background: #2b2a2a;
    border-radius: 10px;
    color: white;
    position: absolute;
    left: 1vw;
    box-shadow: 0 8px 16px 0 black;
    max-width: 97vw;
}

#footerScrollTop {
    z-index: 100;
    position: fixed;
    right: -52px;
    top: 74px;
    width: 30px;
    height: 30px;
    color: #bfbfbf;
    transition: right .5s;
}
#footerScrollTop:hover {
    color: white;
    filter: drop-shadow(0 2px 2px black);
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
}

.footer {
  display: flex;
  align-items: center;
  padding: 15px;
}
.footer > * {
  margin-right: 1rem;
}

.hidden {
    display: inline-block;
    width: 0;
    overflow: hidden
}

.darker { background: rgba(0,0,0,.2); }

.fsac {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex > * {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    padding: 1rem;
    margin: 1vh auto;
    max-width: 97vw;
}
.grid { display: grid }

#pageTitle, #pageLogo { display: none }

[href*="youtu"] {
    background: url(https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico) no-repeat 0;
    padding-left: 20px;
}
[href*="yadi.sk"] {
    background: url(https://yastatic.net/disk/public3/_/5hb_sU044zVfPgNsMKf8pNs2_6H.png) no-repeat 0;
    padding-left: 20px;
}
[href*="wikipedia.org"] {
    background: url(https://ru.wikipedia.org/static/favicon/wikipedia.ico) no-repeat 0;
    background-size: 16px;
    padding-left: 20px;
}