<div id="pageTitle">Angular</div>
<div id="headerTitle">
  <a onclick="load('angular.html')"><img src="https://angular.io/assets/images/favicons/favicon.ico" alt="Angular">
  <span style="color: #e23237">Angular</span></a>
</div>



<div class="flex">
  <div id="links">
    <a href="https://angular.io"><img src="https://angular.io/assets/images/favicons/favicon.ico"></a><br>
    <a href="https://itvdn.com/ru/catalog?search=angular" style="background: none; padding-left: 0"><img src="https://itvdn.com/Content/img/header/logo.svg" alt="itvdn"></a><br>
    <li><a href="https://www.youtube.com/watch?v=Jrer19KiDQg&list=PLVfMKQXDAhGW12JY3SfeDnEx7S5_tn11j"> Уроки Angular 7 (Web Developer Blog)</a></li>
    MVC <br>   
  </div>

  <div><pre><code>
    <тэг ng-app >
    {{2+2}}
    <тэг ng-model="name"> {{name}}
    ng-init
    ng-repeat
    <див ng-app ng-init="students=['David','Steve','Bob']">
    <ол><ли ng-repeat="name in students"> {{ name }} </ли> </ол> </див>

  </code></pre></div>


</div>