<div id="pageTitle">Angular</div>
<div id="pageLogo"><a href="#angular"><img src="https://angular.io/assets/images/favicons/favicon.ico" alt="angular"></a></div>

  <div id="links">
    <a href="https://angular.io"><img src="https://angular.io/assets/images/favicons/favicon.ico"></a><br>
    <a href="https://itvdn.com/ru/webinars/description/angular-jump-start">Angular 4 Jump Start. (2017)</a><br>
    <a href="https://itvdn.com/ru/video/angular2_essential"> Angular 2 Essential (2016)</a><br>
    <a href="https://itvdn.com/ru/video/angular_cli">Angular CLI (2017)</a><br>
    <a href="https://www.youtube.com/watch?v=Jrer19KiDQg&list=PLVfMKQXDAhGW12JY3SfeDnEx7S5_tn11j"> Уроки Angular 7 (Web Developer Blog)</a><br>
    <a href="https://youtu.be/Rf54BH35yrY">Angular 8 Основы (2019)</a><br>
    <a href="https://youtu.be/-pb6_zRokKU">Создание приложения на Angular 4.ITVDN (2017)</a><br>
    <a href="https://youtu.be/XVzed9zlVfw">Простое приложение на Angular .Hillel (2017)</a><br>
    <a href="https://angular.io/guide/universal">Angular Universal (SSR)</a><br>
    <a href="http://swimlane.github.io/ngx-datatable/#client-sorting">пагинация</a><br>
    <a href="https://www.twilio.com/blog/faster-javascript-web-apps-angular-universal-transferstate-api-watchdog">TransferState Service and an API Watchdog</a><br>
    <a href="https://www.twilio.com/blog/expedited-two-factor-authentication-angular-twilio-authy">Expedited Two-Factor Authentication  with Authy</a><br>
  </div>
  <div><pre><code>
sudo npm install -g @angular/cli
ng v // версия
<a href="https://update.angular.io/">update.angular.io</a>
ng new name-app --help
  --routing
  --style //смена типа стилей
  --prefix//смена app.
  --skip-install//не устанавливать npm-modules
  --skip-git
  --dry-run

cd my-app
ng serve --open //run+liveserver
---
ng generate component name
  ng g c name //name.component.ts
ng generate service user-date //user-data.ts
ng generate class user-model //user-model.ts
  --flat //не создавать директорию
  --inline-template //встроить в ts
  --inline-style //встроить стили в ts
  --spec false //не создавать тесты
  --view-encapsulation //?
  --change-detection
  --dry-run
component c
directive d
pipe P
service s
class cl
guard g
interface i
enum e
module m
---
ng build //для прода
ng test
ng lint //проверить
  --fix // исправить
ng e2e
ng build --prod
ng add @angular/material
  </code></pre></div>

<div><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html"><img src="https://www.typescriptlang.org/assets/images/icons/safari-pinned-tab.svg" alt="TypeScript" height="32px"></a> TypeScript<br>
  <a href="https://itvdn.com/ru/video/typescript-fundamentals">TypeScript Fundamentals Updated (2018)</a><br>
  <a href="https://itvdn.com/ru/video/typescriptfundamentals">TypeScript Fundamentals (2016)</a>
  <pre><code>
boolean
string
null
undefined
never

let varName: number = 10; //number
let varName: number[] = [1, 2, 3]; //array

let varName: Array< number> = [1, 2, 3];
  //generic array
let varName: [string, number]; // tuple

let varName: any = 4; // any

  </code></pre>

<details>
  <summary>enum</summary><pre><code class="ts">
enum enumName { //перечисление
  prop1 = 1,
  prop2 = 2,
  prop3 = 3
};
let varName: enumName = enumName.prop2;
</code></pre></details>
<details>
  <summary>function</summary><pre><code>
function warnUser(): void {
    console.log("This is my warning message");
} //void - функция ничего не возвращает
function funcName(a: number, b: string): boolean { return ...;}
</code></pre></details>
<details>
  <summary>interface</summary><pre><code>
interface IntName {
  title: string
  text: string
}
function funcName(name: IntName) {
  console.log(name.title)
}
class className implements IntName {}
</code></pre>
</details>
<details>
  <summary>@ декораторы</summary><pre><code>
@enumerable(false)
func() {}
</code></pre>
</details>

</div>

  <div>
    <details><summary>index.html</summary>
    <pre><code>
  < body>
    < app-root>< /app-root>
  < /body>
    </code></pre>
    </details>
    <details><summary>main.ts</summary>
    <pre><code>
import { enableProdMode } from '@angular/core';
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';

import { AppModule } from './app/app.module';
import { environment } from './environments/environment';

if (environment.production) {
  enableProdMode();
}

platformBrowserDynamic().bootstrapModule(AppModule)
  .catch(err => console.error(err));
    </code></pre>
    </details>
    <details><summary>app.module.ts</summary>
    <pre><code>
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import {FormsModule} from '@angular/forms';
import { AppRoutingModule } from './app-routing.module';

import { AppComponent } from './app.component';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    FormsModule
  ],
  providers: [DataService] //для внедрения зависимостей
  bootstrap: [AppComponent]
})
export class AppModule { }
  </code></pre>
    </details>
    <details><summary>app-routing.module.ts</summary>
      <pre><code>
import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { XComponent } from './x/x.component';
import { ZComponent } from './z/z.component';
...

const routes: Routes = [
  { path: '', pathMatch: 'full', redirectTo: 'x' },
  { path: 'x', component: XComponent },
  { path: 'z', component: ZComponent,
    children: [
      {path: '', component: CustomerManagerComponent},
      {path: 'orders', component: OrderManagerComponent}
    ]
  }
];

@NgModule({
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule]
})
export class AppRoutingModule { }
    </code></pre></details>
  </div>

  <div>app.component.ts
    <pre><code>
import {
  Component, Input, Output, EventEmitter, OnInit,
  ViewChild, ViewChildren, QueryList, ContentChildren
} from '@angular/core';

export interface intName {
  title: string
  text: string
}

@Component({
  moduleId: module.id, //базовый адрес относительно модуля?
  selector: 'app-root',//тег для компонента
  templateUrl: './app.component.html',//путь к шаблону
  styleUrls: ['./app.component.css'],
  interpolation: ['{{', '}}'], // необязательно
})
export class AppComponent implements OnInit {
  @Input("name") //свойство для привязки
  counterName: number = 1;

  @Output() // событие для привязки
  tick: EventEmitter< number> = new EventEmitter();

  @ViewChild(componentName) //обратиться к дочерниму
  name: componentName;     // компоненту

  @ViewChildren(componentName) //обратиться к дочерним
  name: QueryList< componentName>;     // компонентам

  @ContentChildren(componentName) //обратиться к ng-content
  name: QueryList< componentName>;     // компонентам

  title = 'first-app';
  text: string = 'my sample text';
  obj = { "name": "Leo", "age": "26" };
  imgUrl = 'https://site.ru/img.png';
  getInfo(): string { return 'This is my info' };
  ngOnInit() { setTimeout(() => { this.imgUrl = '' }, 3000) };
  arrName: intName[] = [
    {title: 'this is', text: 'magic'},
    {title: 'these are', text: 'magics'}
  ]

  inputHandler(event: any) {
    const value = event.target.value
    this.title = value
  }
  inputHandler2(value) { this.title = value }
}
  </code></pre></div>

<div>Component Lifecycle hooks
  <pre><code>
    ngOnChanges // изменение свойств
    ngOnInit
    ngDoCheck
      ngAfterContentInit
      ngAfterContentChecked
      ngAfterViewInit
      ngAfterViewChecked
    ngOnDestroy
  </code></pre>
</div>

<div>
app.component.html
  <pre><code>
< nav>
  < a routerLink="/customers" routerLinkActive='selected'>Customers < /a>
  < a routerLink="/orders" routerLinkActive='active'>Orders< /a>
< /nav>
< router-outlet>< /router-outlet>

< h2 [ngStyle]="{ //динамические стили
  color: title.length < 5 ? 'black' : 'green',
  font-size: title.length < 7 ? '30px' : '20px'
}">{{ title }}< /h2>

< p [ngClass]="{ //динамические классы
  className: varName === 'blue',
  className: условие
}">{{ text }}< /p>
< p
 [class.blue]="условие"
 [class.red]="условие"
 >{{ text }}< /p>

< pre>{{ obj | json }}< /pre> //JSON.stringify(obj)

< button (click)="varBoolName = !varBoolName">Toggle Images< /button>
< div *ngIf="varBoolName; else noImages">
  < img src="{{ imgUrl }}">
  < img [src]="imgUrl">
< /div>
< ng-template #noImages>
  < p>Images are hidden!< /p>
< /ng-template>

< p>{{ getInfo() }}< /p>
< button (click)="funcName()">< /button>
< button (click)="title = 'another title'">< /button>
//двусторонняя связь
< input type="text" (input)="inputHandler($event)" [value]="title">
< input type="text" #myInput (input)="inputHandler2(myInput.value)" [value]="text">
< input type="text" [(ngModel)]="title"> // нужен FormsModule

< ng-content>< /ng-content>

< table *ngFor="let item of products; let i = index;">
  < tr *ngIf="i <= 5">
    < td>{{ i + 1 }}< /td>
    < td>{{ item.name }}< /td>
    < td>{{ item.price }}< /td>
    < td>< button (click)="products.splice(i,1)">x< /button>< /td>
  < /tr>
< /table>
  </code></pre>
</div>

  <div>
  <pre><code>// Интерполяция
    {{ title }}
    {{ getInfo() }}
  </code></pre>
  <pre><code>// Привязка свойств
[src]="imgUrl" //value
[src]="'text'" //text
[attr.r]="value" //кастомные атрибуты
[style.color]="getDivColor()"
[style.display]="условие ? 'block':'none'"

//присвоить класс если true
[class.className]="условие"
  </code></pre>
    <pre><code>// Привязка событий
(click)="funcName()"
(input)="inputHandler($event)"
(ngModelChange)="funcName()"
(ngModel)="varName"
  </code></pre>
  <pre><code>//двунаправленная привязка
[(ng-model)]="property"
  </code></pre>
  <pre><code>// Директивы
  //структурные
*ngIf="varBoolName"
*ngIf="varBoolName; else varName"

< *ngFor="let item of arrName;
          let i = index;" >
  {{i + 1}} - {{item}}
</>

< [ngSwitch]="choice">
  < *ngSwitchCase="'1'"></>
  ...
  < *ngSwitchDefault></>
</>

  //атрибутивные
ngStyle
ngModel

[ngClass]="{ //динамические классы
  className: varName === 'blue',
  className: условие
}"
[ngClass]="varName"
  </code></pre>
  <pre><code>//Template Ref Var
< input #xInput >
< input ref-yInput >
< (click)="sum(xInput.value, yInput.value)">
  </code></pre>
  <pre><code>
<  interval="2000" >
  </code></pre>
  </div>

  <div>ng build<pre>
    chunk {main} main.js, main.js.map
    chunk {polyfills} polyfills.js, polyfills.js.map
    chunk {runtime} runtime.js, runtime.js.map //webpack
    chunk {styles} styles.js, styles.js.map
    chunk {vendor} vendor.js, vendor.js.map //angular

ng build --target=development --environment=dev
ng build --dev -e=dev
ng build --dev
ng build  //одно и тоже

ng build --target=production --environment=prod
ng build --prod -e=prod
ng build --prod

  --sourcemap | -sm //генерировать map
  --aot // убрать компилятор из бандла
    </pre>
  </div>

  <div>ShadowDOM<pre>
<a href="https://creativerusbear.github.io/public_talks/presentations/Особенности_CSS_в_веб_компонентах.pdf">Особенности_CSS_в_веб_компонентах.pdf</a>

css selectors:
    :host  // родитель компонента
    :host-context(.class-name) //если у родителя есть такой класс
    :host /deep/ p // игнорируя правила более вложенных компонентов

View Encapsulations
  native
  emulated
  none
  </pre></div>

  <div>Dependency injection /сервисы
    <pre><code>
ng generate service name //name.service.ts
</code></pre>
    <pre><code class="ts">
---name.service.ts

@Injectable({
  providedIn: 'root'
})
export class NameService {
  getName() {}
}

---app.component.ts

import {NameService} from '../name.service';

constructor(private nameService: NameService) {}

    </code></pre>
Dependency providers
    <pre><code>
providers: [Logger]
[{ provide: Logger, useClass: Logger }]
    </code></pre>
  </div>